@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

  --primary-color: #F2A20E;
  --button-grey: #292D32;
}

@font-face{
  font-family: 'Switzer';
  src: url('https://fonts.cdnfonts.com/css/switzer')
}

.root{
  overflow: hidden;
}
*{
  font-family: 'Switzer', sans-serif;
  margin: 0px;
  padding: 0px;
}


h1, h2, h3, h4{
  font-weight: 500;
  color: #242423;
}

p, input, label, button, span{
  font-weight: 400;
  font-size: 16px;
  color: #242423;
  
}

button{
  cursor: pointer;
}
.react-datepicker__header{
  background-color: white;
}
a{

  text-decoration: none;
  color: inherit;
}

.display-card:hover {
  scale: 1.1;
}

.para{
  display: none;
  position: relative;
  bottom: 8rem;
  left: 9rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.display-card:hover .para {
  display: block;
  color: rgb(240, 236, 236);

}

.display-card:hover .pics {
  background-color: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1));
  opacity: 0.8;
}

.display-card {
  transition: 300ms ease-in-out;
}